.col-sm-1.space{
    /*background: repeating-radial-gradient(yellow, #ffcd10);*/
    /*background: rgba(255,255,255,0.2);*/
    height: 45px;
    width: 45px;
    padding: 0;
    /*border: 1px solid purple;*/

}

.slot{
    background: rgba(75,0,130,0.5);
    border-radius: 50%;
    color: purple;
    border-left: 2px solid #c5c500;
    border-right: 1px solid #cece00;
    border-bottom: 3px solid #acac00;
    border-top: 1px solid yellow;
    margin: auto;
    display: grid;
    height: 38px;
    width: 38px;
    outline: none;
    visibility: hidden;
}
.board{
    width: 290px;
    padding: 0;
    margin: auto;
    /*display: inline-block;*/
    float: none;


}

body{
    background-image: url("./../cartoon-landscape1.svg");
    background-repeat: no-repeat;
    background-size: 100%;

}

.enjoy-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 72px/normal 'Titan One', cursive;
    color: yellow;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
    /*animation: message-to-player 2s 1;*/
    height: 83px;
    vertical-align: bottom;
    margin-top: 10px;
    margin-bottom: 15px;
}

@keyframes bubbles{
    0%   {height: 0; width: 0; padding-top: 38px;}
    /*25%  {font-size: 5px;}*/
    /*50%  {font-size: 40px;}*/
    100% {height: 38px; width: 38px; padding-top: 0;}
}



#restart{
    background: yellow;
    font-family: 'Titan One', cursive;
    font-size: 142%;
    color: blue;
    text-shadow: 0 1px 0 rgb(204,204,204) , 0 1px 0 rgb(201,201,201) , 0 2px 0 rgb(187,187,187) , 0 3px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
    text-overflow: clip;
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    margin: 10px;
    border: solid 2px rgba(128,128,128,0.4);
    border-radius: 6px;
    visibility: visible;
    animation: newgame 2.5s 1 cubic-bezier(.76,.01,.94,.74);
    /*animation-delay: 1.5s;*/
    width:138px;
    height: 44px;


    /*box-shadow: -3px 3px 2px white;*/
}

#new-game{
    animation: newtext 1s infinite linear;
    animation-delay: 1s;

}

@keyframes newtext{
    0%   {font-size: 93%;}

    50%   {font-size: 100%;}
    100% {font-size: 93%;}
}


@keyframes newgame{
    0%   {width: 0; height: 0; font-size: 0; padding: 0; border: 0;}

    65%   {width: 0; height: 0;font-size: 0; padding: 0; border: 0;}
    97% {width: 152px; height: 48px;font-size: 156%; padding: 7px 13px; border: solid 2px rgba(128,128,128,0.4);}
    100% {width: 138px; height: 44px;font-size: 142%; padding: 6px 12px; border: solid 2px rgba(128,128,128,0.4);}
}

@keyframes hide-restart{
    0% {width: 138px; height: 44px;font-size: 142%; padding: 6px 12px; border: solid 2px rgba(128,128,128,0.4);}

    100%   {width: 0; height: 0; font-size: 0; padding: 0; border: 0;}

}



#restart:hover{
    border: solid 2px lightskyblue;
}

.empty{
    width: 0;
}

.faces{
    height: 95%;
    width: 95%;
    animation: slot-select 0.4s ease-out;

}

@keyframes slot-select{
    0%   {width: 0; height: 0; padding: 100%;}

    100% {width: 100%; height: 100%; padding: 0}
}



#connect{
    animation: connect 2s 1;
    position: relative;
    animation-timing-function: ease-in-out;
    animation-delay: 200ms;

}

@keyframes connect{
    0%   {left: -900px;}
    /*25%  {font-size: 5px;}*/
    30%  {left: 0;}
    60% {left: 0;}
    80% {left: 0px;}
    100% {left: 0;}
}

#four{
    position: relative;
    animation: four 2s 1;
    animation-timing-function: ease-in-out;
    animation-delay: 200ms;

}

@keyframes four{
    0%   {right: -700px;}
    30%  {right: -700px;}
    60%  {right: 0;}
    80%  {right: 0px;}
    100% {right: 0px;}
}

.turn{
    font-family: 'Titan One', cursive;
    color: #ebeb00;
    text-shadow: 0 1px 0 rgb(200, 200, 200), 0 1px 0 rgb(189, 189, 189), 0 2px 0 rgb(174, 174, 174), 0 3px 0 rgb(162, 162, 162), 0 0px 0 rgb(170,170,170) , 0 0px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
    font-size: 28px;
    padding: 0;
    visibility: hidden;



}

.play-again-container{
    height: 64px;
}

.turn.player-cpu{
    padding-top: 5px;
    font-size: 20px;
}

#arrow{
    position: relative;
    left: -20px;
    bottom: 0;
    transition: bottom 0.2s ease-in-out;
}

@keyframes turns{
    0%   {font-size: 0;}

    100% {font-size: 100%;}
}







